parameters:
    level: max
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: classConstant.deprecatedClass
            path: tests/Tests/EntityManagerFactory.php
        -
            identifier: new.deprecated
            path: tests/Tests/EntityManagerFactory.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
